<a href="https://colab.research.google.com/github/Aditi-dev07/CarPrice-Forecaster/blob/main/Car-Price-Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas==2.2.2
!pip install matplotlib==3.8.4
!pip install seaborn==0.13.2
!pip install scikit-learn==1.4.2

Requirement already satisfied: pandas==2.2.2 in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas==2.2.2) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas==2.2.2) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas==2.2.2) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas==2.2.2) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas==2.2.2) (1.17.0)
Collecting matplotlib==3.8.4
  Downloading matplotlib-3.8.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.8 kB)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8.4) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8.4) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8.4) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8.4) (1.4.9)
Requirement already satisfied: numpy>=1.21 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8.4) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8.4) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8.4) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8.4) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib==3.8.4) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib==3.8.4) (1.17.0)
Downloading matplotlib-3.8.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 93.9 MB/s eta 0:00:00
Installing collected packages: matplotlib
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.10.0
    Uninstalling matplotlib-3.10.0:
      Successfully uninstalled matplotlib-3.10.0
Successfully installed matplotlib-3.8.4

Requirement already satisfied: seaborn==0.13.2 in /usr/local/lib/python3.12/dist-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /usr/local/lib/python3.12/dist-packages (from seaborn==0.13.2) (2.0.2)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.12/dist-packages (from seaborn==0.13.2) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /usr/local/lib/python3.12/dist-packages (from seaborn==0.13.2) (3.8.4)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.2->seaborn==0.13.2) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas>=1.2->seaborn==0.13.2) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn==0.13.2) (1.17.0)
Collecting scikit-learn==1.4.2
  Downloading scikit_learn-1.4.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.4.2) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.4.2) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.4.2) (1.5.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn==1.4.2) (3.6.0)
Downloading scikit_learn-1.4.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 86.4 MB/s eta 0:00:00
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.6.1
    Uninstalling scikit-learn-1.6.1:
      Successfully uninstalled scikit-learn-1.6.1
ERROR: Operation cancelled by user
^C

### Importing required libraries

In [ ]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import warnings

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score


def warn(*args, **kwargs):
    pass


warnings.warn = warn
warnings.filterwarnings('ignore')

We have prepared another sample data.

In [ ]:
car_df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/exN-VGWhy9OjnXIevpKh5g/cars.csv')
car_df.head()

,Car_ID,Brand,Model,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Toyota,Corolla,2018,50000,Petrol,Manual,First,15,1498,108,5,800000
1,2,Honda,Civic,2019,40000,Petrol,Automatic,Second,17,1597,140,5,1000000
2,3,Ford,Mustang,2017,20000,Petrol,Automatic,First,10,4951,395,4,2500000
3,4,Maruti,Swift,2020,30000,Diesel,Manual,Third,23,1248,74,5,600000
4,5,Hyundai,Sonata,2016,60000,Diesel,Automatic,Second,18,1999,194,5,850000

In [ ]:
# Removing unnecessary columns
car_df = car_df.drop(['Car_ID'], axis=1)

In [ ]:
car_df.isnull().sum()

In [ ]:
print("The dataset contains columns of the following data types : \n" +str(car_df.dtypes))

The dataset contains columns of the following data types :
Brand                object
Model                object
Year                  int64
Kilometers_Driven     int64
Fuel_Type            object
Transmission         object
Owner_Type           object
Mileage               int64
Engine                int64
Power                 int64
Seats                 int64
Price                 int64
dtype: object

### 1 - Use one-hot encoding to encode the categorical columns and the Standard Scaler to scale the numerical data

In [ ]:
categorical_columns = car_df.select_dtypes(include=['object']).columns
print("Categorical columns: ")
print(categorical_columns)

one_hot_encoder = OneHotEncoder(handle_unknown='ignore')

numerical_columns = car_df.select_dtypes(include=['float','int']).columns
print("Numerical columns: ")
print(numerical_columns)
scaler_numerical = StandardScaler()

SyntaxError: expected 'else' after 'if' expression (ipython-input-2969648336.py, line 7)

<details>
    <summary>Click here for solution</summary>

```python
# Defining the categorical columns
categoricalColumns = car_df.select_dtypes(include=['object']).columns

print("Categorical columns : " )
print(categoricalColumns)

impute_categorical = SimpleImputer(strategy="most_frequent")
onehot_categorical =  OneHotEncoder(handle_unknown='ignore')

categorical_transformer = Pipeline(steps=[('impute',impute_categorical),('onehot',onehot_categorical)])

# Defining the numerical columns
numericalColumns = [col for col in car_df.select_dtypes(include=['float','int']).columns if col not in ['Price']]
print("Numerical columns : " )
print(numericalColumns)

scaler_numerical = StandardScaler()

numerical_transformer = Pipeline(steps=[('scale',scaler_numerical)])

preprocessorForCategoricalColumns = ColumnTransformer(transformers=[('cat', categorical_transformer, categoricalColumns)],
                                            remainder="passthrough")
preprocessorForAllColumns = ColumnTransformer(transformers=[('cat', categorical_transformer, categoricalColumns),('num',numerical_transformer,numericalColumns)],
                                            remainder="passthrough")
```

</details>

### Exercise 2 - Prepare data frame for splitting data into train and test data sets

In [ ]:
# Your code here

<details>
    <summary>Click here for solution</summary>

```python
# prepare data frame for splitting data into train and test datasets
features = []
features = car_df.drop(['Price'], axis=1)

label = pd.DataFrame(car_df, columns = ['Price'])
label = car_df['Price']

X_train, X_test, y_train, y_test = train_test_split(features, label, random_state=42)
```

</details>

### Exercise 3 - Find the intercept and the coefficients for a multiple linear regression model

In [ ]:
from sklearn.linear_model import LinearRegression

model_name = 'Multiple Linear Regression'

# Your code here

# Task
Preprocess the car dataset by creating separate pipelines for numerical and categorical features, combining them using `ColumnTransformer`, and applying these transformations to the training and testing data.

## Create Preprocessing Pipelines

### Subtask:
Create separate pipelines for numerical and categorical features. The categorical pipeline will impute missing values with the most frequent value and then apply OneHotEncoder. The numerical pipeline will scale the data using StandardScaler.

**Reasoning**:
Based on the previous steps where categorical and numerical columns were identified, I will now define the `SimpleImputer` and `OneHotEncoder` for the categorical pipeline and combine them into `categorical_transformer`. Then, I will define `StandardScaler` for numerical features and create `numerical_transformer`. I will also filter out 'Price' from the numerical columns as it is the target variable.

In [ ]:
impute_categorical = SimpleImputer(strategy='most_frequent')
onehot_categorical = OneHotEncoder(handle_unknown='ignore')
categorical_transformer = Pipeline(steps=[('impute', impute_categorical), ('onehot', onehot_categorical)])

# Exclude 'Price' from numerical columns as it's the target variable
numerical_columns = [col for col in car_df.select_dtypes(include=['float', 'int']).columns if col != 'Price']
print("Numerical columns (excluding 'Price'): ")
print(numerical_columns)

scaler_numerical = StandardScaler()
numerical_transformer = Pipeline(steps=[('scale', scaler_numerical)])
print("Preprocessing pipelines for categorical and numerical features have been defined.")

Numerical columns (excluding 'Price'):
['Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power', 'Seats']
Preprocessing pipelines for categorical and numerical features have been defined.

## Combine Preprocessing Steps

### Subtask:
Combine the numerical and categorical preprocessing pipelines using a ColumnTransformer. This will apply the correct transformations to the respective columns in your dataset.

**Reasoning**:
To combine the numerical and categorical preprocessing pipelines, I will define a `ColumnTransformer` named `preprocessor`. This transformer will apply the `categorical_transformer` to the `categorical_columns` and the `numerical_transformer` to the `numerical_columns`, ensuring all columns are handled appropriately with `remainder='passthrough'`.

In [ ]:
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, ['Brand', 'Model', 'Fuel_Type', 'Transmission', 'Owner_Type']),
        ('num', numerical_transformer, ['Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power', 'Seats'])
    ],
    remainder='passthrough'
)

print("ColumnTransformer 'preprocessor' has been successfully defined to combine the categorical and numerical pipelines.")

ColumnTransformer 'preprocessor' has been successfully defined to combine the categorical and numerical pipelines.

## Apply Preprocessing to Data

### Subtask:
Apply the created ColumnTransformer to the features (X_train and X_test) to preprocess the data.

**Reasoning**:
First, I need to separate the features and the target variable from the `car_df` and then split them into training and testing sets, as outlined in the instructions for preparing the data for preprocessing.

In [ ]:
features = car_df.drop(['Price'], axis=1)
label = car_df['Price']

X_train, X_test, y_train, y_test = train_test_split(features, label, random_state=42)
print("Features and target separated, and data split into training and testing sets.")

Features and target separated, and data split into training and testing sets.

**Reasoning**:
Now that the data is split, I will apply the ColumnTransformer `preprocessor` to `X_train` using `fit_transform` to learn the transformations and apply them, and then apply it to `X_test` using `transform`.

In [ ]:
X_train_processed = preprocessor.fit_transform(X_train)
X_test_processed = preprocessor.transform(X_test)
print("Training and testing data have been preprocessed using the ColumnTransformer.")

Training and testing data have been preprocessed using the ColumnTransformer.

## Final Task

### Subtask:
Summarize the preprocessing steps completed and confirm the data is ready for model training.

## Summary:

### Q&A
The preprocessing steps involved creating separate pipelines for numerical and categorical features, combining them with a `ColumnTransformer`, and then applying these transformations to the training and testing datasets. The data is now fully preprocessed and ready for model training.

### Data Analysis Key Findings
*   Separate preprocessing pipelines were successfully created:
    *   A categorical pipeline was defined using `SimpleImputer` (strategy: 'most\_frequent') for handling missing values and `OneHotEncoder` (`handle_unknown='ignore'`) for encoding.
    *   A numerical pipeline was defined using `StandardScaler` for feature scaling.
*   A `ColumnTransformer` named `preprocessor` was successfully configured to apply the categorical pipeline to features `['Brand', 'Model', 'Fuel_Type', 'Transmission', 'Owner_Type']` and the numerical pipeline to `['Year', 'Kilometers_Driven', 'Mileage', 'Engine', 'Power', 'Seats']`. Any other columns were set to be passed through (`remainder='passthrough'`).
*   The original dataset's features and target variable ('Price') were successfully separated and split into training ($X\_train$, $y\_train$) and testing ($X\_test$, $y\_test$) sets using `train_test_split` with a `random_state` of 42.
*   The `ColumnTransformer` was applied to both training and testing feature sets, resulting in `X_train_processed` and `X_test_processed`, which are now standardized and one-hot encoded.

### Insights or Next Steps
*   The data is now prepared in a consistent format, ready for immediate input into various machine learning models, ensuring that categorical data is appropriately encoded and numerical data is scaled.
*   The next crucial step is to train a machine learning model (e.g., a regression model) using the `X_train_processed` and `y_train` datasets, followed by evaluating its performance on the `X_test_processed` and `y_test` datasets.